<!DOCTYPE html>
<html>
<head>
  <title>Colibriary</title>
  <%= stylesheet_link_tag 'blueprint', 'application' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
